version: 2.1

orbs:
  singularity: singularity/singularity@1.0.4


################################################################################
# Workflows
################################################################################


workflows:
  version: 2
  test:
    jobs:
      - run-scompose-ci-tests: &base_job
          filters:
            branches:
              ignore: master
          name: "Latest Singularity with Python 3"
          run-linter: false
          python: 3
          singularity: 3.2.1
          singularity-3: true
      - run-scompose-ci-tests:
          <<: *base_job
          name: "Singularity 3.2.0 - Python 3"
          singularity: 3.2.0

################################################################################
# Functions
################################################################################

run_linter: &run_linter
  name: run linter
  command: pylint ~/repo/scompose

test_scompose: &test_scompose
  name: Test Singularity Compose
  command: |
        cd ~/repo
        sudo python setup.py install
        pytest scompose

commands:
  install_dependencies:
    parameters:
      python:
        type: integer
        description: "Python version: 2 or 3"
    steps:
      - run: |
          PYTHON_VERSION="<< parameters.python >>"
          CONDA_PATH="$HOME/conda/Python${PYTHON_VERSION}"
          echo 'export PATH="'"$CONDA_PATH"'/bin:$PATH"' >> "$BASH_ENV"
          source "$BASH_ENV"
          if [ ! -d "$CONDA_PATH" ]; then
              CONDA_SCRIPT=Miniconda${PYTHON_VERSION}-latest-Linux-x86_64.sh
              wget https://repo.anaconda.com/miniconda/$CONDA_SCRIPT
              /bin/bash $CONDA_SCRIPT -b -p $CONDA_PATH
          else
              echo "Miniconda is already installed, continuing to build."
          fi
          python --version
          [ $(python -c'import sys;print(sys.version_info.major)') -eq $PYTHON_VERSION ]

          pip install --upgrade pylint pytest setuptools

################################################################################
# Jobs
################################################################################

jobs:
  run-scompose-ci-tests:
    parameters:
        run-linter:
          type: boolean
          default: false
        python:
          type: integer
          description: "Python version: 2 or 3"
          default: 3
        singularity:
          type: string
          description: "Singularity version"
        singularity-3:
          type: boolean
          description: "Set to true for singularity 3, false for singularity 2"
          default: true
    machine: true
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys: v1-dependencies
      - install_dependencies:
          python: << parameters.python >>
      - when:
          condition: << parameters.singularity-3 >>
          steps:
            - singularity/install-go:
                go-version: 1.11.5
            - singularity/debian-install-3:
                      singularity-version: << parameters.singularity >>
      - save_cache:
          paths:
            - ~/conda
          key: v1-dependencies
      - when:
          condition: << parameters.run-linter >>
          steps:
            - run: *run_linter
      - run: *test_scompose

